@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
  box-sizing: border-box;
}

.activeMenu {
  background: #dfe3e9;
}

.status-indicator {
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.7rem;
  width: 100%;
  max-width: 80px;
  text-align: center;
}

.status-ausente {
  background-color: #de6767;
  color: black;
}

.status-disponivel {
  background-color: #8dde679d;
  color: black;
}

.status-atendendo {
  background-color: #67c8de;
  color: black;
}

.SchedulingInfo-client button {
  display: none;
  transition: all 0.5s ease;
}

.SchedulingInfo-client:hover button {
  display: flex;
  transition: all 0.5s ease;
}

.animateOpacity{
  opacity: 0;
  transition: all .5s ease;
}

@keyframes opacityMain {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
