/* .rdp{
  margin: unset !important;
  height: 800px !important;
  --rdp-cell-size: 60px !important;
} */

.rdp-table{
  width: 100% !important;
  max-width: unset !important;
}

.rdp-month{
  width: 100%;
  background: #a1d9e686;
  padding: 10px;
  border-radius: 5px;
}

.rdp-day_selected{
  background: #c9d3f0 !important;
  color: black !important;
  font-weight: bold !important;
  border-radius: 3px !important;
  transition: all .2s ease-in;
} 

.datepickerFooter{
  font-size: 0.9rem;
  font-weight: bold;
}